#hamburgerMenu {
  width: 3rem;
  height: 2rem;
}

#burger {
  position: absolute;
  cursor: pointer;
  width: 3rem;
  height: 2rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

#burger > div {
  height: 0.25rem;
  border-radius: 1rem;
  background-color: #000;
  transition: 0.5s;
}

#burger > div:nth-child(2) {
  height: 0.2rem;
}

#burger.open > div:nth-child(1) {
  transform: translateY(14px) rotate(45deg);
}
#burger.open > div:nth-child(2) {
  opacity: 0;
}
#burger.open > div:nth-child(3) {
  transform: translateY(-14px) rotate(-45deg);
}

#sidebar {
  background: #aa9945;
  width: 50%;
  height: 100dvh;
  position: fixed;
  left: 0;
  top: 0;
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
}

#sidebar.open {
  transform: translateX(0);
}
