@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import "tailwindcss";

/* @theme {
  --color-bg-gold: #aa9a45;
  --color-text-gold: #c6b870;
} */

* {
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  font-family: "Manrope";
  font-size: 1.6rem;
  scroll-behavior: smooth;
}
