@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import "tailwindcss";

@layer components {
  .card-shadow {
    box-shadow: -4px 0px 10px 4px rgba(0, 0, 0, 0.18);
  }

  .service-shadow {
    -webkit-box-shadow: -4px 0px 10px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: -4px 0px 10px 2px rgba(0, 0, 0, 0.2);
    box-shadow: -4px 0px 10px 2px rgba(0, 0, 0, 0.2);
  }
}

@theme {
  --color-gold-text: #c6b870;
  --color-gold-section: #aa9a45;
  /* --color-secondary: #b38524 */
}

* {
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  font-family: "Manrope";
  font-size: 1.6rem;
  scroll-behavior: smooth;
}

/* .skewed {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #dedd9f19;
  z-index: -10;
  transform: skewY(-4deg);
  transform-origin: top left;
} */
