@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import "tailwindcss";

@layer components {
  .card-shadow {
    box-shadow: -2px -1px 15px 4px rgba(0, 0, 0, 0.18);
  }
}

@theme {
  --color-gold-text: #c6b870;
  --color-gold-section: #aa9a45;
  /* --color-secondary: #b38524 */
}

* {
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  font-family: "Manrope";
  font-size: 1.6rem;
  scroll-behavior: smooth;
}
