#hamburgerMenuMobile {
  width: 3rem;
  height: 2rem;
}

#burger {
  cursor: pointer;
  width: 3.5rem;
  gap: 0.7rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#burger > div {
  height: 0.5rem;
  border-radius: 1rem;
  transition: 0.5s;
}

/* When using a dynamic hamburger, uncomment the below: */
#burger > div:nth-child(2) {
  height: 0.4rem;
}

#burger.open > div:nth-child(1) {
  transform: translateY(12px) rotate(45deg);
}
#burger.open > div:nth-child(2) {
  opacity: 0;
}
#burger.open > div:nth-child(3) {
  transform: translateY(-11px) rotate(-45deg);
}

#burger > div:nth-child(2) {
  height: 0.4rem;
}

#sidebar {
  width: 70%; /* if the sidebar takes up the full width, consider adding a hamburger menu to close it */
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out, background 0.1s ease-in;
  /* To avoid the sidebar content form overflowing into the body when shrinking */
  overflow: hidden;
  z-index: 999;
}

.bg-home {
  /* background: url("/images/home-img.jpg") no-repeat center/cover; */
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    var(--color-gold-section);
}

#sidebar::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  z-index: -1;
}

#sidebar.open {
  transform: translateX(0);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.65);
  opacity: 0;
  visibility: hidden;
  z-index: 998; /* Just below the sidebar */
  transition: opacity ease-in-out 0.5s, visibility 0.5s ease-out;
}

.overlay.open {
  opacity: 1;
  visibility: visible;
}
