@font-face {
  font-family: Manrope;
  src: url("../assets/fonts/Manrope-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Manrope;
  src: url("../assets/fonts/Manrope-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Manrope;
  src: url("../assets/fonts/Manrope-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}

@import "tailwindcss";

@layer components {
  .card-shadow {
    box-shadow: -6px 0px 10px 2px rgba(0, 0, 0, 0.2);
  }

  .service-shadow {
    -webkit-box-shadow: -4px 0px 10px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: -4px 0px 10px 2px rgba(0, 0, 0, 0.2);
    box-shadow: -4px 0px 10px 2px rgba(0, 0, 0, 0.2);
  }

  .button-shadow {
    box-shadow: -5px 5px 10px 5px #00000023;
  }

  .notfound {
    filter: drop-shadow(-3px 0px 10px rgba(0, 0, 0, 0.3));
  }
}

@theme {
  --color-gold-text: #c6b870;
  --color-gold-section: #aa9a45;
  /* --color-secondary: #b38524 */
}

* {
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --gold: #aa9a45;
}

body {
  font-family: "Manrope";
  font-size: 1.6rem;
  scroll-behavior: smooth;
}
